<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GriCoWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>JanOnVal WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JanOnVal WatchKit Extension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JanOnVal.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WatchKit App Notification.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WidgetsIntensExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>251A11102527263300EB9529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>254DF649251DB734003CED3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA43F50A1FDA6A5E00C879E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA43F51C1FDA6A5E00C879E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA43F52B1FDA6A5E00C879E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
